---
/** Racine du domaine : redirection vers la version française par défaut. */
---
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Redirection…</title>
    <meta http-equiv="refresh" content="0;url=/fr/" />
    <link rel="canonical" href="https://blogdungaucher.com/fr/" />
    <script is:inline>
      window.location.replace("/fr/");
    </script>
  </head>
  <body>
    <p><a href="/fr/">Blog d'un Gaucher - continuer</a></p>
  </body>
</html>
